info {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 12px;
}

@media only screen and (min-width:1680px) {
	info {
		font-size: 16px;
	}
}

info .slide {
	width: 690px;
	height: 342px;
	background: #000;
	color: white;
	text-align: left;
}

@media only screen and (min-width:1680px) {
	info .slide {
		width: 920px;
		height: 456px;
	}
}


info .slide p {
    line-height: 1.5;
    font-size: 11px;
	margin-bottom: 10px;
	padding: 10px;
}

@media only screen and (min-width:1680px) {
	info .slide p {
		font-size: 15px;
		margin-bottom: 13px;
		padding: 13px;
	}
}

info .slide ul, info .slide address {
	margin: 10px 0px;
}

@media only screen and (min-width:1680px) {
	info .slide ul, info .slide address {
		margin: 13px 0px;
	}
}

info .slide address {
	font-size: 13px;
}

@media only screen and (min-width:1680px) {
	info .slide address {
		font-size: 17px;
	}
}

info .slide ul {
	font-size: 11px;
}

@media only screen and (min-width:1680px) {
	info .slide ul {
		font-size: 15px;
	}
}

info .slide a {
	text-decoration: none;
	color: white ;
}

info .email {
	font-weight: 700;
}

info .carousel-control {
	width: 50%;
}

info .carousel-indicators {
	bottom: 0;
	left: 0;
	margin: 0;
	text-align: left;
}

info h2 {
    font-size: 14px;
    font-weight: 700;
	text-transform: uppercase;
}

@media only screen and (min-width:1680px) {
	info h2 {
		font-size: 19px;
	}
}

info div h2 {
	padding: 10px 0px 0px 10px;
}

@media only screen and (min-width:1680px) {
	info div h2 {
		padding: 13px 0px 0px 13px;
	}
}

info div .details h2 {
	padding: 0px;
}

info .details {
	float: left;
	width: 30%;
	padding: 10px;
}

@media only screen and (min-width:1680px) {
	info .details {
		padding: 13px;
	}
}

info img#teamPhoto {
	float: right;
	width: 57%;
}

info .carousel-indicators li, info .carousel-indicators li.active {
	color: white;
	text-indent: 0;
	width: auto;
	height: auto;
	border: none;
	border-radius: 0;
	background: none;
	margin: 0px 5px;
}

@media only screen and (min-width:1680px) {
	info .carousel-indicators li, info .carousel-indicators li.active {
		margin: 0px 7px;
	}
}

info .carousel-indicators li h4 {
	font-weight: 400;
}

info .carousel-indicators li.active h4 {
	border-bottom: 1px solid white;
	padding-bottom: 3px;
}

@media only screen and (min-width:1680px) {
	info .carousel-indicators li.active h4 {
		border-bottom: 2px solid white;
		padding-bottom: 4px;
	}
}


/* MOBILE  */
.mobile-only info {
	position: initial !important;
	top: auto;
	right: auto;
	left: auto;
	bottom: auto;
}

.mobile-only info .slide {
  	width:100%;
  	height:0;
  	padding-bottom: 70%; 
  	overflow:hidden;
  	position:relative;
}
.mobile-only info .content {
  	position:absolute;
  	width:100%;
  	height:100%;
}
.mobile-only info address {
	font-size: 8px;
}
.mobile-only info address, .mobile-only info ul {
	width: 90px;
	margin-top: 5px;
}

 .mobile-only info ul {
	margin-top: 5px;
	font-size: 7px;
}

.mobile-only info .contact {
	float: left;
	width: 90px;
}

.mobile-only info .content p {
	font-size: 7px;
}



