<div class="container" ng-if="home.projects">
	<div class="dash-container-outer">
		<div class="dash-container-inner">
			<div class="dash" ng-repeat="i in home.getDashNumber(435) track by $index"></div>
		</div>
	</div>
	<div class="button-container-outer">
		<div class="button-container-inner">
			<dash-button ng-repeat="i in home.getDashNumber(435) track by $index" project="home.getProjectButton($index)"></dash-button>
		</div>
	</div>
	<div class="dot-container-outer">
		<div class="dot-container-inner">
			<div class="dot" ng-repeat="i in home.getDotNumber(1682) track by $index"></div>
		</div>
	</div>
</div>