* {
	margin: 0;
	padding:0;
	border:0;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
} 
home {
	position: fixed;
	height: 100%;
	width: 100%;
	background: url(images/background.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	line-height: 1;
}

home .container {
	display: block;
	width: 1203px;
	height: 342px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -171px;
	margin-left: -601px;
}

@media only screen and (min-width:1680px) {
	home .container {
		width: 1604px;
		height: 456px;
		margin-top: -228px;
		margin-left: -801px;
	}
}

home .dash-container-outer {
	display: block;
	width: 342px;
	height: 342px;
	border-radius: 50%;
	overflow: hidden;
	position: relative;
}

@media only screen and (min-width:1680px) {
	home .dash-container-outer {
		width: 456px;
		height: 456px;
	}
}

home .dash-container-inner {
	display: block;
	width: 360px;
	height: 342px;
	position: relative;
	top: -3px;
	left: -9px;
}

@media only screen and (min-width:1680px) {
	home .dash-container-inner {
		width: 480px;
		height: 456px;
		top: -4px;
		left: -12px;
	}
}

home .button-container-outer {
	display: block;
	width: 342px;
	height: 342px;
	position: absolute;
	top: 0;
	left: 0;
}

@media only screen and (min-width:1680px) {
	home .button-container-outer {
		width: 456px;
		height: 456px;
	}
}

home .button-container-inner {
	display: block;
	width: 360px;
	height: 342px;
	position: relative;
	top: -3px;
	left: 6px;
}

@media only screen and (min-width:1680px) {
	home .button-container-inner {
		width: 480px;
		height: 456px;
		top: -4px;
		left: 3px;
	}
}

home dash-button, home .dash {
	float: right;
	margin: 3px;
}

@media only screen and (min-width:1680px) {
	home dash-button, home .dash {
		margin: 4px;
	}
}

home .dash {
	width: 18px;
	height: 6px;
	background: #000;
}

@media only screen and (min-width:1680px) {
	home .dash {
		width: 24px;
		height: 8px;
	}
}


home .dot-container-outer {
    width: 690px;
    height: 342px;
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(0,0,0,0);
    overflow: hidden;
}

@media only screen and (min-width:1680px) {
	home .dot-container-outer {
		width: 920px;
		height: 456px;
	}
}

home .dot-container-inner {
    width: 696px;
    height: 348px;
    position: relative;
    top: -3px;
    left: -3px;
}

@media only screen and (min-width:1680px) {
	home .dot-container-inner {
		width: 928px;
		height: 464px;
		top: -4px;
		left: -4px;
	}
}

home .dot {
	width: 6px;
    height: 6px;
    margin: 3px;
    background: #000;
    border-radius: 50%;
    float: left;
}

@media only screen and (min-width:1680px) {
	home .dot {
		width: 8px;
		height: 8px;
		margin: 4px;
	}
	
}

home button {
	display: block;
	width: 100%;
	height: 40px;
	font-size: 25px;
	text-align: left;
	padding-left: 3px;
	margin: 3px 0;
	outline:none;
}

@media only screen and (min-width:1680px) {
	home button {
		height: 53px;
		font-size: 33px;
		padding-left: 4px;
		margin: 4px 0;
	}
}

home button.info-button {
	background: black;
	color: white;
}
home button.project-button {
	color: black;
}
@media only screen and (max-width : 1211px) {
	home {
		background: black;
	}
}