dash-button {
	position: relative;
}

dash-button div {
	width: 18px;
	height: 6px;
	cursor: pointer;
	transition: .1s;
}

@media only screen and (min-width:1680px) {
	dash-button div {
		width: 24px;
		height: 8px;
	}	
}

dash-button .project:hover {
	-webkit-backface-visibility: hidden;
	transform: scale(1,3);
    -ms-transform: scale(1,3);
    -moz-transform: scale(1,3);
    -webkit-transform: scale(1,3);
    transition: .1s;
    border: none;
}

dash-button p {
	position: absolute;
	font-size: 16px;
	z-index: 10000;
	text-transform: uppercase;
	font-weight: 700;
	top: -4px;
	left: 22px;
	display: none;
	width: 400px;
}

@media only screen and (min-width:1680px) {
	dash-button p {
		font-size: 21px;
		top: -5px;
		left: 29px;
		width: 533px;
	}	
}

dash-button .button:hover:not(.info) + .name { 
	display: block; 
}

dash-button .info-last.hover + .name {
	display: block;
	top: -7px;
}

@media only screen and (min-width:1680px) {
	dash-button .info-last.hover + .name {
		top: -9px;
	}
}

dash-button .info.hover:not(.info-last) {
	-webkit-backface-visibility: hidden;
    transform: matrix(1, 0, 0, 3, 0, 6);
    -ms-transform: matrix(1, 0, 0, 3, 0, 6);
    -moz-transform: matrix(1, 0, 0, 3, 0, 6);
    -webkit-transform: matrix(1, 0, 0, 3, 0, 6);
    transition: .1s;
    border: none;
}

dash-button .visited {
	-webkit-backface-visibility: hidden;
	transform: scale(1,.3);
    -ms-transform: scale(1,.3);
    -moz-transform: scale(1,.3);
    -webkit-transform: scale(1,.3);
    transition: .1s;
}