image-gallery {
	position: absolute;
	top: 0;
	left: 0;
	height: 342px;
	width: 690px;
}

image-gallery > div {
	width: 100%;
	height: 100%;
	background-color: black;
}

image-gallery .carousel-control {
	width: 50%;
}

image-gallery .left.carousel-control {
	cursor: url(images/cursor_bck.png), url(images/cursor_bck.cur), crosshair;
}

image-gallery .right.carousel-control {
	cursor: url(images/cursor_fwd.png), url(images/cursor_fwd.cur), crosshair;
}

image-gallery .carousel-indicators {
	bottom: 3px;
	left: 0;
	margin: 0;
	text-align: left;
	width: 100%;
}

image-gallery .carousel-indicators li, image-gallery .carousel-indicators .active {
	width: 6px;
	height: 6px;
	border: none;
	border-radius: 50%;
	margin: 0px 3px;
}

image-gallery .carousel-indicators li {
	background: black;
}

image-gallery img {
	margin: auto;
}

image-gallery .carousel-indicators .active {
	background: white;
}

image-gallery .details {
	position: absolute;
	top: 0;
	height: 342px;
	background: rgba(0,0,0,.9);
	width: 177px;
	padding: 10px;
	z-index: 1000;
}

image-gallery .details h3 {
	font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0;
}

image-gallery .details p {
	font-size: 13px;
	font-weight: 400;
}

image-gallery ul {
	margin: 10px 0px;
}

image-gallery ul li {
	list-style: none;
	font-size: 11px;
	font-weight: 400;
}

image-gallery ul li:nth-child(even) {
	font-weight: 700;
}

image-gallery .details.open {
	transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
	right: 0px;
	cursor: url(images/cursor_bck.png), url(images/cursor_bck.cur), crosshair;
}

image-gallery .details.open.comingSoon {
	left: 0px;
	cursor: auto;
}

image-gallery .comingSoonContainer {
	position: relative;
	width: 690px;
}

image-gallery img.comingSoon {
	position: absolute;
	right: 0px;
}

image-gallery .details.closed:not(.comingSoon) {
	transition-property: all;
	transition-duration: .1s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
	right: -177px;
}

image-gallery .carousel-control.right,  image-gallery .carousel-control.left{
	background-image: none;
}

image-gallery #projectLoad {
	position: absolute;
	background: black;
}

image-gallery p.disclaimer {
	position: absolute;
	bottom: 0px;
	left: 0px;
	font-size: 8px;
	padding: 10px;
}

/* Mobile */
.mobile-only image-gallery, 
.mobile-only image-gallery .comingSoonContainer, 
.mobile-only image-gallery .details,
.mobile-only image-gallery img.comingSoon,
.mobile-only image-gallery p.disclaimer {
	position: initial !important;
	top: auto;
	right: auto;
	left: auto;
	bottom: auto;
}

.mobile-only image-gallery .details p.disclaimer {
	padding: 0px;
	font-size: 5px;
}

.mobile-only image-gallery .carousel {
	float: left;
	width: 85%;
	margin-bottom: 4px;
}

.mobile-only image-gallery img.comingSoon, .mobile-only image-gallery .details.comingSoon {
	float: right;
}

.mobile-only image-gallery .details:not(.comingSoon) {
	float: left;
}

.mobile-only image-gallery .details {
	width: 15%;
	height: auto;
	padding: 3px;
}

.mobile-only image-gallery .details h3, 
.mobile-only image-gallery .details li, 
.mobile-only image-gallery .details p {
	font-size: 7px;
}

.mobile-only image-gallery .carousel-indicators {
	position: relative;
	text-align: center;
	margin: 0 auto -20px 0;
	bottom: 20px;
}

.mobile-only image-gallery img {
	width: 100%;
}

.mobile-only image-gallery .imgContainer {
    display: inline-block;
    position: relative;
    width: 76%;
}

.mobile-only image-gallery .comingSoonContainer {
	width: 83%;
	float: left;
}

.mobile-only image-gallery #projectLoad {
	width: 100%;
	height: 100%;
	position: absolute;
	background: black;
}
