image-gallery {
	position: absolute;
	top: 0;
	left: 0;
	height: 342px;
	width: 690px;
}

@media only screen and (min-width:1680px) {
	image-gallery {
		height: 456px;
		width: 920px;
	}
}

image-gallery > div {
	width: 100%;
	height: 100%;
	background-color: black;
}

image-gallery .carousel-control {
	width: 50%;
}

image-gallery .left.carousel-control {
	cursor: url(images/cursor_bck.png), url(images/cursor_bck.cur), crosshair;
}

image-gallery .right.carousel-control {
	cursor: url(images/cursor_fwd.png), url(images/cursor_fwd.cur), crosshair;
}

image-gallery .carousel-indicators {
	bottom: 3px;
	left: 0;
	margin: 0;
	text-align: left;
	width: 100%;
}

@media only screen and (min-width:1680px) {
	image-gallery .carousel-indicators {
		bottom: 4px;
	}
}

image-gallery .carousel-indicators li, image-gallery .carousel-indicators .active {
	width: 6px;
	height: 6px;
	border: none;
	border-radius: 50%;
	margin: 0px 3px;
}

@media only screen and (min-width:1680px) {
	image-gallery .carousel-indicators li, image-gallery .carousel-indicators .active {
		width: 8px;
		height: 8px;
		margin: 0px 4px;
	}
}

image-gallery .carousel-indicators li {
	background: black;
}

image-gallery img {
	margin: auto;
}

image-gallery .carousel-indicators .active {
	background: white;
}

image-gallery .details {
	position: absolute;
	top: 0;
	height: 342px;
	background: rgba(0,0,0,.9);
	width: 177px;
	padding: 10px;
	z-index: 1000;
}

@media only screen and (min-width:1680px) {
	image-gallery .details {
		height: 456px;
		width: 236px;
		padding: 13px;
	}
}

image-gallery .details h3 {
	font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0;
}

@media only screen and (min-width:1680px) {
	image-gallery .details h3 {
		font-size: 19px;
	}
}

image-gallery .details p {
	font-size: 13px;
	font-weight: 400;
}

@media only screen and (min-width:1680px) {
	image-gallery .details p {
		font-size: 17px;
	}
}

image-gallery ul {
	margin: 10px 0px;
}

@media only screen and (min-width:1680px) {
	image-gallery ul {
		margin: 13px 0px;
	}
}

image-gallery ul li {
	list-style: none;
	font-size: 11px;
	font-weight: 400;
}

@media only screen and (min-width:1680px) {
	image-gallery ul li {
		font-size: 15px;
	}
}

image-gallery ul li:nth-child(even) {
	font-weight: 700;
}

image-gallery .details.open {
	transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
	right: 0px;
	cursor: url(images/cursor_bck.png), url(images/cursor_bck.cur), crosshair;
}

image-gallery .details.open.comingSoon {
	left: 0px;
	cursor: auto;
}

image-gallery .comingSoonContainer {
	position: relative;
	width: 690px;
}

@media only screen and (min-width:1680px) {
	image-gallery .comingSoonContainer {
		width: 920px;
	}
}

image-gallery img.comingSoon {
	position: absolute;
	right: 0px;
}

image-gallery .details.closed:not(.comingSoon) {
	transition-property: all;
	transition-duration: .1s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
	right: -177px;
}

@media only screen and (min-width:1680px) {
	image-gallery .details.closed:not(.comingSoon) {
		right: -236px;
	}
}

image-gallery .carousel-control.right,  image-gallery .carousel-control.left{
	background-image: none;
}

image-gallery .project-loading {
	position: absolute;
	background: black;
	width: 100%;
	height: 100%;
	z-index: 999;
	overflow: visible;
	background: url('/images/preloader.gif') no-repeat center center rgba(9,9,9,1);
}

image-gallery p.disclaimer {
	position: absolute;
	bottom: 0px;
	left: 0px;
	font-size: 8px;
	padding: 10px;
}

@media only screen and (min-width:1680px) {
	image-gallery p.disclaimer {
		font-size: 11px;
		padding: 13px;
	}
}

/* Mobile */
@media only screen and (max-width : 1211px) {
	image-gallery  {
		position: initial !important;
		top: auto;
		right: auto;
		left: auto;
		bottom: auto;
	}

	image-gallery .mobile-only, 
	image-gallery .mobile-only .comingSoonContainer, 
	image-gallery .mobile-only .details,
	image-gallery .mobile-only img.comingSoon,
	image-gallery .mobile-only p.disclaimer {
		position: initial !important;
		top: auto;
		right: auto;
		left: auto;
		bottom: auto;
	}


	image-gallery .mobile-only img.slide {
		width: 100%;
	}

	image-gallery .mobile-only img.slide:last-child {
		margin-bottom: -3px;
	}
	image-gallery .mobile-only .details {
			height: auto;
			width: auto;
	}
	
	image-gallery .mobile-only .project-loading {
		height: 100px;
		position: initial !important;
		top: auto;
		right: auto;
		left: auto;
		bottom: auto;
	}
}