* {
	margin: 0;
	padding:0;
	border:0;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
} 


project-buttons {
	display: block;
	width: 342px;
	height: 342px;
	border-radius: 50%;
	overflow: hidden;
}

project-buttons .button-container {
	display: block;
	width: 360px;
	height: 342px;
	position: relative;
	top: -3px;
	left: -9px;
}

project-buttons dash-button {
	float: right;
	margin: 3px;
}